
/PackageTravel.4.5.resharper.user
/src/PTAPI/bin/Ninject.dll
/src/PTAPI/bin/PTAPI.dll
/src/PTAPI/bin/PTAPI.pdb
/src/PTAPI/bin/PTCore.dll
/src/PTAPI/bin/PTCore.pdb
/src/PTAPI/obj/Debug/PTAPI.csproj.FileListAbsolute.txt
/src/PTAPI/obj/Debug/PTAPI.dll
/src/PTAPI/obj/Debug/PTAPI.pdb
/src/PTCore/bin/Debug/Ninject.dll
/src/PTCore/bin/Debug/PTCore.dll
/src/PTCore/bin/Debug/PTCore.pdb
/src/PTCore/obj/Debug/PTCore.csproj.FileListAbsolute.txt
/src/PTCore/obj/Debug/PTCore.dll
/src/PTCore/obj/Debug/PTCore.pdb
/src/PTCore/obj/Debug/Refactor/PTCore.dll
/src/PTCore/obj/Debug/ResolveAssemblyReference.cache
/src/PTDomain/bin/Debug/PTDomain.dll
/src/PTDomain/bin/Debug/PTDomain.pdb
/src/PTDomain/obj/Debug/PTDomain.csproj.FileListAbsolute.txt
/src/PTDomain/obj/Debug/PTDomain.dll
/src/PTDomain/obj/Debug/PTDomain.pdb
/src/PTDomain/obj/Debug/Refactor/PTDomain.dll
/src/PTIoC/bin/Debug/Ninject.dll
/src/PTIoC/bin/Debug/Norm.dll
/src/PTIoC/bin/Debug/PTIoC.dll
/src/PTIoC/bin/Debug/PTIoC.pdb
/src/PTIoC/bin/Debug/PTRepository.dll
/src/PTIoC/bin/Debug/PTRepository.pdb
/src/PTIoC/obj/Debug/PTIoC.csproj.FileListAbsolute.txt
/src/PTIoC/obj/Debug/PTIoC.dll
/src/PTIoC/obj/Debug/PTIoC.pdb
/src/PTIoC/obj/Debug/ResolveAssemblyReference.cache
/src/PTRepository/bin/Debug/Ninject.dll
/src/PTRepository/bin/Debug/Norm.dll
/src/PTRepository/bin/Debug/PTDomain.dll
/src/PTRepository/bin/Debug/PTDomain.pdb
/src/PTRepository/bin/Debug/PTRepository.dll
/src/PTRepository/bin/Debug/PTRepository.pdb
/src/PTRepository/obj/Debug/PTRepository.csproj.FileListAbsolute.txt
/src/PTRepository/obj/Debug/PTRepository.dll
/src/PTRepository/obj/Debug/PTRepository.pdb
/src/PTRepository/obj/Debug/ResolveAssemblyReference.cache
/src/PTService/bin/Debug/Ninject.dll
/src/PTService/bin/Debug/PTDomain.dll
/src/PTService/bin/Debug/PTDomain.pdb
/src/PTService/bin/Debug/PTService.dll
/src/PTService/bin/Debug/PTService.pdb
/src/PTService/obj/Debug/PTService.csproj.FileListAbsolute.txt
/src/PTService/obj/Debug/PTService.dll
/src/PTService/obj/Debug/PTService.pdb
/src/PTService/obj/Debug/ResolveAssemblyReference.cache
/src/PTSpider/PTSpider/bin/Debug/Common.Logging.Log4Net.dll
/src/PTSpider/PTSpider/bin/Debug/Common.Logging.dll
/src/PTSpider/PTSpider/bin/Debug/FlickrNet.dll
/src/PTSpider/PTSpider/bin/Debug/PTCore.dll
/src/PTSpider/PTSpider/bin/Debug/PTCore.pdb
/src/PTSpider/PTSpider/bin/Debug/PTDomain.dll
/src/PTSpider/PTSpider/bin/Debug/PTDomain.pdb
/src/PTSpider/PTSpider/bin/Debug/PTSpider.dll
/src/PTSpider/PTSpider/bin/Debug/PTSpider.pdb
/src/PTSpider/PTSpider/bin/Debug/log4net.dll
/src/PTSpider/PTSpider/obj/Debug/PTSpider.csproj.FileListAbsolute.txt
/src/PTSpider/PTSpider/obj/Debug/PTSpider.dll
/src/PTSpider/PTSpider/obj/Debug/PTSpider.pdb
/src/PTSpider/PTSpider/obj/Debug/Refactor/PTSpider.dll
/src/PTSpider/PTSpider/obj/Debug/ResolveAssemblyReference.cache
/src/PackageTravel.UnitTest/bin/Debug/Moq.dll
/src/PackageTravel.UnitTest/bin/Debug/Ninject.dll
/src/PackageTravel.UnitTest/bin/Debug/Norm.dll
/src/PackageTravel.UnitTest/bin/Debug/PTDomain.dll
/src/PackageTravel.UnitTest/bin/Debug/PTDomain.pdb
/src/PackageTravel.UnitTest/bin/Debug/PTRepository.dll
/src/PackageTravel.UnitTest/bin/Debug/PTRepository.pdb
/src/PackageTravel.UnitTest/bin/Debug/PackageTravel.UnitTest.dll
/src/PackageTravel.UnitTest/bin/Debug/PackageTravel.UnitTest.pdb
/src/PackageTravel.UnitTest/bin/Debug/nunit.framework.dll
/src/PackageTravel.UnitTest/obj/Debug/PackageTravel.UnitTest.csproj.FileListAbsolute.txt
/src/PackageTravel.UnitTest/obj/Debug/PackageTravel.UnitTest.dll
/src/PackageTravel.UnitTest/obj/Debug/PackageTravel.UnitTest.pdb
/src/PackageTravel.UnitTest/obj/Debug/ResolveAssemblyReference.cache
/src/PackageTravel/Scripts/MicrosoftAjax.debug.js
/src/PackageTravel/Scripts/MicrosoftAjax.js
/src/PackageTravel/Scripts/MicrosoftMvcAjax.debug.js
/src/PackageTravel/Scripts/MicrosoftMvcAjax.js
/src/PackageTravel/Scripts/jquery-1.3.2-vsdoc.js
/src/PackageTravel/Scripts/jquery-1.3.2.js
/src/PackageTravel/Scripts/jquery-1.3.2.min-vsdoc.js
/src/PackageTravel/Scripts/jquery-1.3.2.min.js
/src/PackageTravel/bin/PackageTravel.dll
/src/PackageTravel/bin/PackageTravel.pdb
/src/PackageTravel/obj/Debug/PackageTravel.csproj.FileListAbsolute.txt
/src/PackageTravel/obj/Debug/PackageTravel.dll
/src/PackageTravel/obj/Debug/PackageTravel.pdb
/src/PackageTravel/obj/Debug/ResolveAssemblyReference.cache
/src/Spider/bin/Debug/Common.Logging.dll
/src/Spider/bin/Debug/PTCore.dll
/src/Spider/bin/Debug/PTCore.pdb
/src/Spider/bin/Debug/PTDomain.dll
/src/Spider/bin/Debug/PTDomain.pdb
/src/Spider/bin/Debug/PTSpider.dll
/src/Spider/bin/Debug/PTSpider.pdb
/src/Spider/bin/Debug/Spider.exe
/src/Spider/bin/Debug/Spider.pdb
/src/Spider/bin/Debug/Spider.vshost.exe
/src/Spider/bin/Debug/Spider.vshost.exe.manifest
/src/Spider/obj/Debug/ResolveAssemblyReference.cache
/src/Spider/obj/Debug/Spider.csproj.FileListAbsolute.txt
/src/Spider/obj/Debug/Spider.exe
/src/Spider/obj/Debug/Spider.pdb
/src/PackageTravel/PackageTravel.csproj.user
/src/Mobile/PackageTravel/bin/PackageTravel.apk
/src/Mobile/PackageTravel/bin/classes.dex
/src/Mobile/PackageTravel/bin/com/packagetravel/PackageTravel.class
/src/Mobile/PackageTravel/bin/com/packagetravel/R$attr.class
/src/Mobile/PackageTravel/bin/com/packagetravel/R$drawable.class
/src/Mobile/PackageTravel/bin/com/packagetravel/R$layout.class
/src/Mobile/PackageTravel/bin/com/packagetravel/R$string.class
/src/Mobile/PackageTravel/bin/com/packagetravel/R.class
/src/Mobile/PackageTravel/bin/com/packagetravel/activities/FlipActivity.class
/src/Mobile/PackageTravel/bin/com/packagetravel/utils/DirTravels.class
/src/Mobile/PackageTravel/bin/com/packagetravel/utils/ZipUtils.class
/src/Mobile/PackageTravel/bin/resources.ap_
/src/PTAPI/obj/Debug/ResolveAssemblyReference.cache
/src/Mobile/.metadata/.lock
/src/Mobile/.metadata/.log
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/0/d03656c7d3fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/10/70580bd3d3fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/1d/80f5dc22d3fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/20/d0642984cffc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/22/401d2b74cefc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/23/40703274cefc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/29/00acf0e3d1fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/2b/f0ba8c96cffc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/2f/905b3c07d3fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/4/c0aa0b44cffc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/47/30819a57d2fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/47/c06f12a6d3fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/49/e036bac5cffc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/72/50e73afbd5fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/8b/8047ded6d5fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/9a/b0efc9bcd1fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/bf/d056e4f2d1fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/c1/80942a3dd1fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/c4/3008e6e3d2fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/d3/1071adcbd5fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/dc/f09800c5d1fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/dd/70bd8d35d5fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/e9/50c876b4d2fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/ea/20d79cbccffc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/f3/b0992bb6d1fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.history/f5/5055d596d2fc00101f68b6c45c2b3dc3
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.projects/PackageTravel/.indexes/a0/d6/properties.index
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.projects/PackageTravel/.indexes/a0/de/properties.index
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.projects/PackageTravel/.indexes/af/history.index
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.projects/PackageTravel/.indexes/e4/81/20/b1/history.index
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.projects/PackageTravel/.indexes/e4/81/20/ed/history.index
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.projects/PackageTravel/.indexes/properties.index
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.projects/PackageTravel/.markers
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.projects/PackageTravel/org.eclipse.jdt.core/state.dat
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
/src/Mobile/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/src/Mobile/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.adt.prefs
/src/Mobile/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/src/Mobile/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/src/Mobile/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/src/Mobile/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/src/Mobile/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/src/Mobile/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/src/Mobile/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/src/Mobile/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/src/Mobile/.metadata/.plugins/org.eclipse.debug.core/.launches/PackageTravel.launch
/src/Mobile/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/src/Mobile/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.core/1323162961.index
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.core/1440000899.index
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/src/Mobile/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/src/Mobile/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/PackageTravel/2011/10/43/refactorings.history
/src/Mobile/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/PackageTravel/2011/10/43/refactorings.index
/src/Mobile/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/src/Mobile/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/src/Mobile/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/src/Mobile/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
/src/Mobile/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml